@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 350px;
    position: relative;
}

.background{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(26, 88, 88);
    position: absolute;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}


.about {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image{
    width: 290px;
    height: 290px;
    background-image: url(images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}


.about-image h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.about-text{
    max-width: 400px;
    padding: 15px;
    background: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 10px;
}

.icons {
    text-align: right;
}

section {
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    max-width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
    cursor: pointer;
}

.project-image{
    width: inherit;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Restaurant{
    background-image: url(images/screencapture-majid-tech-github-io-RestaurantPage-2025-10-07-16_49_11.png);
}


.Weather {
    background-image: url(images/screencapture-127-0-0-1-5500-index-html-2025-09-24-18_48_52.png);
}

.Time {
    background-image: url(images/screencapture-majid-tech-github-io-TimeTrackingDashboard-2025-10-07-17_16_23.png);
}

.Ableton {
    background-image: url(images/screencapture-majid-tech-github-io-abletonAboutPage-2025-10-07-17_30_04.png)
}

a{
    text-decoration: none;
}

.project-info {
    padding: 10px;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-description p{
    line-height: 1.5;
}


footer {
    padding: 20px;
    background-color: rgb(26, 88, 88);
}

.contact {
    color: white;
    padding: 10px;
}

.tel span{
    display: block;
}

.tel {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 430px) {
    main {
        height: max-content;
    }
    .about {
        flex-direction: column;
        justify-content: center;
    }

    .about-text {
        max-width: 290px;
        box-shadow: none;
    }
}